@import "tailwindcss";

@keyframes gradient {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 3s ease infinite;
}

@keyframes progress {
  0% {
    width: 0%;
  }
  10% {
    width: 10%;
  }
  30% {
    width: 35%;
  }
  50% {
    width: 55%;
  }
  70% {
    width: 75%;
  }
  90% {
    width: 90%;
  }
  100% {
    width: 95%;
  }
}

.animate-progress {
  animation: progress 30s ease-out forwards;
}
